@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
    width: 16px;
    height: 12px;
}

h1{
    text-align: center;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #708090;
    background: #727385;
    transition: width 0.3s, height 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.my-custom-button {
    background-color: #03700c !important; /* Custom background */
    color: white !important; /* Custom text color */
    border-radius: 0.5rem !important; /* Rounded corners */
    padding: 0.5rem 1.5rem !important;
    font-size: 1.5rem !important;
    border: none;
  }
  